#react-paginate .selected a {
    font-weight: bold;
    color: red;
}

#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
    padding: 5;
}

#react-paginate a {
    color: blue;
    text-decoration: none;
}